<div class="centered-container">
    <div class="task-planner-container">
        <!-- Sidebar -->
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>
            <!-- List menu -->
            <div class="list-menu">
                <a href="" class="list-menu-item is-active">
                    <p>List 1#</p>
                </a>
                <a href="" class="list-menu-item">
                    <p>List 2#</p>
                </a>
                <a href="" class="list-menu-item">
                    <p>List 3#</p>
                </a>
            </div>
            <!-- Add new list button -->
            <button class="button is-primary has-text-white">+ New List</button>
        </div>
        <!-- task list -->
        <div class="task-list has-background-light">
            <h1 class="title has-text-primary">
                Tasks
            </h1>
            <!-- Tasks -->
            <div class="task is-complete">
                <p>This is something I have to do</p>
            </div>
            <div class="task">
                <p>This is something I have to do</p>
            </div>
            <div class="task">
                <p>This is something I have to do</p>
            </div>
            <!-- Add new task button -->
            <button class="button is-primary has-text-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
            </button>
        </div>
    </div>
</div>